html,
body {
  margin: 0;
  text-align: center;
  font-size: 16px;
}
body {
  background: #f2f9fe;
  background: -moz-linear-gradient(-45deg, #f2f9fe 0%, #d6f0fd 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f2f9fe), color-stop(100%, #d6f0fd));
  background: -webkit-linear-gradient(-45deg, #f2f9fe 0%, #d6f0fd 100%);
  background: -o-linear-gradient(-45deg, #f2f9fe 0%, #d6f0fd 100%);
  background: -ms-linear-gradient(-45deg, #f2f9fe 0%, #d6f0fd 100%);
  background: linear-gradient(-45deg, #f2f9fe 0%, #d6f0fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#f2f9fe, endColorstr=#d6f0fd,GradientType=1 );
}
#content {
  color: #404040;
  background: #deefff;
  border-radius: 20px;
  -webkit-box-shadow: 8px 8px 5px 5px #404040;
  -moz-box-shadow: 8px 8px 5px 5px #404040;
  box-shadow: 8px 8px 5px 5px #404040;
  background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deefff), color-stop(100%, #98bede));
  background: -webkit-linear-gradient(top, #deefff 0%, #98bede 100%);
  background: -o-linear-gradient(top, #deefff 0%, #98bede 100%);
  background: -ms-linear-gradient(top, #deefff 0%, #98bede 100%);
  background: linear-gradient(top, #deefff 0%, #98bede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#deefff,endColorstr=#98bede,GradientType=0);
  left: 50%;
  margin: -100px 0 0 -200px;
  padding: 20px;
  position: absolute;
  top: 50%;
  width: 400px;
}
h1 {
  font-size: 1.8em;
}
h1 a {
  color: #7f0000;
  font-weight: bold;
}
h1 a:hover {
  text-decoration: underline;
}
h2 {
  font-size: 3em;
}
